<%- include('partials/header2') %>


<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-3">Daily Journal</h1>
    <i class="far fa-calendar-alt fa-5x text-info"></i>
    <p class="lead">WHATEVER YOU ARE, BE A GOOD ONE</p>
    <p class="lead">Don’t let the noise of other people’s opinions drown out your own inner voice.</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer2') %>
